[Desktop Entry]
Version=1.0
Name=Lyrux
Comment=GTK4 file manager + terminal multiplexer for Linux
Exec=lyrux
TryExec=lyrux
Icon=lyrux
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator;
Keywords=terminal;multiplexer;ghostty;workspace;
StartupNotify=true
StartupWMClass=dev.lyrux.linux
X-GNOME-UsesNotifications=true
